<header>
    <nav class="nav-flex">
        <img src="images/logo.jpeg" alt="" class="logo">
        <a href="/" class="nav-link">home</a>
        <a href="*" class="nav-link">Preguntas Frecuentes</a>
        <a href="/login" class="nav-link">Login</a>
        <a href="/productCart" class="nav-link"><i class="fa-solid fa-bag-shopping"></i></a>
      
    </nav>

</header>