<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/CSS/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <i class="fa-solid fa-user"></i>
        </nav>
    </header>
    <main>


        
    </main>
    <footer>
        <div>
           <h2>Metodos de pago</h2>
            
        </div>
        <div>
            <h2>Redes sociales</h2>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
    </footer>
</body>
</html>