<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/CSS/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header >
        <nav class="nav-flex">
            <p class="logo-flex">LOGO</p>
            <a href="*" class="nav-link">home</a>
            <a href="*" class="nav-link">Preguntas Frecuentes</a>
            <a href="*" class="nav-link">Login</a>
            <a href="*" class="nav-link"><i class="fa-solid fa-bag-shopping"></i></a>
            
        </nav>
    </header>
    <main>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum nulla ea facilis amet aut atque ipsa sint. Nihil numquam nisi obcaecati rem, mollitia iusto corporis, tempora eos molestias exercitationem ratione!</p>

        
    </main>
    <footer class="footer-flex">
      <div>
        <h4>Metodos de pago</h4>
        <div class="div-items">
            <p>item1</p>
            <p>item2</p>
            <p>item3</p>
        </div>
        <h4>Metodos de envio</h4>
        <div class="div-items">
            <p>item1</p>
            <p>item2</p>
            <p>item3</p>
        </div>
      </div>
      <div>
        <h4>Nuestras redes sociales</h4>
        <div class="div-items">
            <p>item1</p>
            <p>item2</p>
            <p>item3</p>
        </div>
        <h4>Contacto</h4>
        <div class="div-items">
            <p>item1</p>
            <p>item2</p>
            <p>item3</p>
        </div>
      </div>
    </footer>
</body>
</html>