<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head');-%>

<body>
    
  <%- include('partials/header');-%>

    <main>
        <form action="" method="get" class="form">
            <p class="text">Crear cuenta</p>
            <div class="register-container">
                <div class="nom-completo">
                    <div class="nom">
                        <p>NOMBRE</p>
                        <input type="text" name="nombre" class="nom-campo" required>
                    </div>
                    <div class="ape">
                        <p>APELLIDO</p>
                        <input type="text" name="apellido" class="nom-campo" required>
                    </div>
                </div>
                <p>CORREO ELECTRONICO</p>
                <input type="email" name="email" class="campo-registro" required>
                <p>Direccion</p>
                <input type="text" name="direccion" class="campo-registro" required>
                <div class="nom-completo">
                    <div class="nom">
                        <p>CIUDAD</p>
                        <input type="text" name="nombre" class="nom-campo" required>
                    </div>
                    <div class="ape">
                        <p>COD. POSTAL</p>
                        <input type="text" name="apellido" class="nom-campo" required>
                    </div>
                </div> 
                <p>CONTRASEÑA</p>
                <input type="password" name="password" class="campo-registro" required>
            </div>
            <br>
            <button type="submit">ENVIAR</button>
            <a href="/login" class="recupera-contra">Ya tengo una cuenta</a>
            <br>
            
        </form>
    </main>
    
    <%- include('partials/footer');-%>
    
</body>
</html>