* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
/*body*/
body {
  font-size: 20px;
  background-color: #c3c3c3;
}

a {
  color: black;
}

/*fin body*/
/*header*/

.nav-flex {
  display: flex;
  background-color: black;
  text-decoration: none;
  color: white;
  font-size: 30px;
  justify-content: space-around;
  height: 60px;
  width: 100%;
}
.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px;
  transition: background-color, color 0.5s;
}
.nav-link:hover {
  color: black;
  border-radius: 20px;
  background-color: gray;
}

nav p {
  margin-left: 30px;

  padding: 10px;
}
/*fin header*/
/*main*/

/*slider autamatico*/
.slider {
  overflow: hidden;
  width: 90%;
  height: 15em;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  border-radius: 10px;
  border: solid 1px black;
}
.slider ul {
  height: 105em;
  width: 400%;
  display: flex;
  animation: slaid 12s infinite;
}
@keyframes slaid {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
}

.slider-item img {
  width: 100%;
  height: 40%;
  border-radius: 10px;
}

@keyframes slaid {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  95% {
    margin-left: -300%;
  }
}
/*fin slider automatico*/
.ofer {
  margin-top: 20px;
  margin-left: 2%;
}
.container {
  margin-top: 2%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product {
  width: 30%;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 20px;
}
.product img {
  border-radius: 30px;
  width: 90%;
  height: 75%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  border-radius: 20px;
}
.product-number {
  border-top: solid 1px black;
  font-size: 22px;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
  padding-top: 5px;
}
.discount {
  margin-left: 5%;
  color: green;
}
.description {
  margin-left: 100%;
  margin-top: 5px;
  padding-top: 5px;
  font-size: 25px;
  overflow: hidden;
  transition: margin-left 0.5s;
}
.product:hover .description {
  margin-left: 5%;
}
.product:hover {
  box-shadow: 10px 5px 5px gray;
}

/*main*/
/*footer*/
.footer-flex {
  display: flex;
  justify-content: space-around;
  background-color: black;
  width: 100%;
  height: 15%;
  color: white;
}
.footer-div {
  text-align: center;
  width: 25%;
  margin: 4px 5px;
  padding: 8px 5px;
  box-sizing: border-box;
}
.footer-MP {
  text-align: justify;
  font-size: 16px;
  margin-left: 90px;
  margin-top: 5px;
}
.footer-ME {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.footer-RS {
  display: flex;
  justify-content: center;
}
.footer-RS-items {
  margin: 20px;
  margin-top: 10px;
}
.footer-contact {
  text-align: justify;
  font-size: 16px;
  margin-left: 100px;
  margin-top: 5px;
}

/*fin footer*/

/*
  ]=======( Inicio Carrito de compras )=======[

*/

.indicaciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: white;
  margin-bottom: 10px;
}

.listado-productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.item {
  background-color: white;
  display: flex;
  width: 90%;
  padding: 10px;
  align-items: center;
}

.item-imagen {
  height: 150px;
}

.item-imagen img {
  width: 150px;
  height: 150px;
  margin: 0;
  object-fit: cover;
}

.item-opciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.item-opciones-eliminar {
  font-size: 1.7rem;
}

.item-opciones-detalles-titulo {
  font-weight: bold;
}

.item-opciones-detalles-precio {
  font-size: 0.9rem;
}

.contenedor-botones {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
  gap: 10px;
}

.carrito-boton {
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}

.carrito-boton--cancelar {
  background-color: black;
  color: white;
}

.resumenCompra {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
  background-color: white;
  margin: 10px 0;
}

.resumenCompra-detalles {
  width: 100%;
  border: black 1px solid;
}

.textBold {
  font-weight: bold;
}
/* ]=======( Fin Carrito de compras )=======[ */

/*







  ]=======( Inicio de detalles del producto )=======[

*/
.img-prod {
  width: 80%;
  height: 70%;
  padding: 10%;
  text-align: center;
}

img {
  border-top: solid 3px gray;
}

.nom-del-producto {
  padding-bottom: 10%;
  text-align: center;
  width: 100%;
  font-size: 40px;
  font-weight: bold;
}

div.ima-y-nom {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: white;
  border: solid 30px #c3c3c3;
  border-radius: 35px;
  text-align: center;
  transition: width, 0.5s;
  box-sizing: border-box;
}

div.ima-y-nom:hover {
  box-shadow: 10px 5px 5px 5px gray;
  width: 56%;
}

i.fa-solid.fa-circle {
  color: rgb(166, 149, 128);
}

.descripcion {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-size: 35px;
  text-align: left;
  justify-content: space-around;
  /* border: solid 1px yellow;*/
  padding: 30px 20px;
}

.precio {
  font-weight: bolder;
}

.talle,
.cantidad {
  display: block;
}

.talle select,
.cantidad input {
  padding: 5px;
}

.detalle_producto {
  display: flex;
  width: 95%;
  justify-content: space-around;
  text-align: left;
}

.button_añadir {
  font-size: 30px;
  background-color: black;
  color: white;
  text-align: center;
  margin: 5%;
  padding: 5%;
  border-radius: 20px;
}

.button_añadir {
  transition-property: background-color, font-size;
  transition-duration: 0.5s;
}

.button_añadir:hover {
  font-size: 32px;
  border-radius: 20px;
  background-color: rgb(110, 107, 107);
}

/* ]=======( Fin de detalles del producto  )=======[ */

/*
  ]=======( Inicio login )=======[

*/
.form-login {
  background-color: white;
  width: 43%;
  margin: 10% 30%;
  padding: 10px;
  border-radius: 20px;
}
.text-login {
  text-decoration: none;
  text-align: center;
  border-bottom: solid 1px black;
  font-size: 40px;
}

.login-container {
  width: 70%;
  margin: 2% 15%;
}
.campo-login {
  width: 100%;
  height: 25px;
  margin-bottom: 5%;
  background-color: #d0cdcd;
  border-radius: 5px;
  padding: 2px;
}

.enviar_login{
  font-size: 30px;
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 15px;
  margin-left: 15%;
  margin-bottom: 10px;
  margin-top: 20px;
}

.enviar_login{
  transition-property:background-color, font-size, border-radius;
  transition-duration: 0.5s;
}

.enviar_login:hover {
font-size: 32px;
border-radius: 20px;
background-color: rgb(63, 61, 61);
}

.recupera-contra {
  text-decoration: none;
  color: black;
  margin-left: 25%;
  transition-property: text-decoration;
  transition-duration: 0.1s;
}
.recupera-contra:hover{
  text-decoration:underline;
}

.crear-cuenta {
  text-decoration: none;
  color: black;
  margin-left: 15%;
}
.crear-cuenta:hover{
  text-decoration:underline;
}

/*
  ]=======( Fin de login )=======[

*/
/*
  ]=======( Inicio de Registro)=======[

*/
.form {
  background-color: white;
  width: 43%;
  margin: 10% 30%;
  padding: 10px;
  border-radius: 20px;
}
.text-register {
  text-decoration: none;
  text-align: center;
  border-bottom: solid 1px black;
  font-size: 40px;
}
.register-container {
  width: 70%;
  margin: 2% 15%;
}
.campo-registro {
  width: 100%;
  font-size: 18px;
  height: 25px;
  margin-bottom: 5px;
  background-color: #dcd9d9;
  border-radius: 5px;
  padding: 2px 2px;
}
.button-register {
  font-size: 30px;
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 15px;
  margin-left: 15%;
  margin-bottom: 20px;
  margin-top: 5px;
}

.button-register {
  transition-property:background-color, font-size, border-radius;
  transition-duration: 0.5s;
}
.button-register:hover {
font-size: 31px;
border-radius: 20px;
background-color: rgb(23, 23, 23);
}

.recupera-contra {
  text-decoration: none;
  color: black;
  margin-left: 25%;
  font-size: 25px;
}
.crear-cuenta {
  text-decoration: none;
  color: black;
  margin-left: 15%;
}
.nom-completo {
  display: flex;
 justify-content: space-around;
 
}
.nom-campo {
  width: 100%;
  height: 25px;
  margin-bottom: 5%;
  background-color: #dcd9d9;
  border-radius: 5px;
  font-size: 18px;
  padding: 2px 2px;
}
.nom {
  width: 50%;
  margin-right: 11px;
}
.ape {
  width: 50%;
  margin-left: 11px;
}

/*
  ]=======( Fin de Registro )=======[

*/

/*
  ]=======( Inicio de Mediaqueri )=======[

*/
@media (max-width: 480px) {
  /*navegador*/
  .logo {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .nav-flex {
    height: 25%;
    display: block;
  }
  .nav-link {
    display: block;
    width: 90%;
  }

  /*Fin de navegador*/
  /*produtos*/
  .container {
    display: block;
    padding-bottom: 10px;
  }
  .product {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 10px;
  }
  .description {
    margin-left: 5%;
  }
  /*Fin de produtos*/
  /*footer*/
  .footer-flex {
    display: block;
    padding-top: 10px;
  }
  footer h4 {
    font-size: 16px;
    border-top: solid white 1px;
  }
  .footer-div {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .footer-MP {
    margin-left: 120px;
  }
  .footer-RS-items {
    margin: 10px;
  }
  /*Fin de footer*/
}

/*
  ]=======( Inicio crearProducto  )=======[ 

*/

.principal {
  padding: 8px;
  padding-bottom: 20px;
}

.formCrearProducto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.titulo {
  text-align: center;
}
