<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/header.ejs') %>

    <main class="principal">
      
      <form class="formCrearProducto" action="/products" method="POST" enctype="multipart/form-data">
      
        <h1 class="titulo">CREAR PRODUCTO</h1>
     
        <label for="title">NOMBRE DEL PRODUCTO</label>
        <input class="espacio-completar" type="text" name="name" id="nombreDelProducto" />
        <label for="description">DESCRIPCIÓN</label>
        <input class="espacio-completar" type="text" name="description" id="descripciónDelProducto" />
        <label for="description">MARCA</label>
        <input class="espacio-completar" type="text" name="marca" id="marcaDelProducto" />
        <label for="imagen">IMÁGEN</label>
        <input class="espacio-completar" type="file" name="imagen" id="imagenDelProducto" />
        <label for="price">PRECIO</label>
        <input class="espacio-completar" type="number" name="price" id="precioDelProducto" />
        <label for="color">COLOR</label>
        <select class="espacio-completar"   name="color" id="colorDelProducto">
          <option value="rojo">Rojo</option>
          <option value="azul">Azul</option>
          <option value="verde">Verde</option>
          <option value="amarillo">Amarillo</option>
          <option value="negro">Negro</option>
          <option value="blanco">Blanco</option>
          <option value="gris">Gris</option>
        </select>
        <label for="cat_pro">CATEGORIA</label>
        <select class="espacio-completar"   name="cat_pro" id="colorDelProducto">
          <option value="1">Precio normal</option>
          <option value="2">En oferta</option>
        </select>
        <label for="talle">TALLE</label>
        <select name="talle" id="talle">
          <option value="xs">XS</option>
          <option value="s">S</option>
          <option value="m">M</option>
          <option value="l">L</option>
          <option value="xl">XL</option>
          <option value="xxl">XXL</option>
        </select>
        <label for="discount">DESCUENTO</label>
        <input class="espacio-completar"
          type="number"
          min="0"
          max="100"
          name="discount"
          id="descuentoDelProducto"
        />
        <input class="boton-añadir" type="submit" value="SUBIR PRODUCTO" />
      </form>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
