<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/header.ejs') %>

    <main class="principal">
      <h1 class="titulo">Crear producto</h1>
      <form class="formCrearProducto" action="/crear-producto" method="POST">
        <label for="title">Nombre del producto</label>
        <input type="text" name="nombre" id="nombreDelProducto" />
        <label for="description">Descripción</label>
        <input type="text" name="descripción" id="descripciónDelProducto" />
        <label for="imagen">Imagen</label>
        <input type="file" name="imagen" id="imagenDelProducto" />
        <label for="price">Precio</label>
        <input type="number" name="precio" id="precioDelProducto" />
        <label for="color">Color</label>
        <select name="color" id="colorDelProducto">
          <option value="rojo">Rojo</option>
          <option value="azul">Azul</option>
          <option value="verde">Verde</option>
          <option value="amarillo">Amarillo</option>
          <option value="negro">Negro</option>
          <option value="blanco">Blanco</option>
          <option value="gris">Gris</option>
        </select>
        <label for="size">Talla</label>
        <input type="text" name="talla" id="tallaDelProducto" />
        <input type="submit" value="Crear Producto" />
      </form>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
