<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head');%>
  <body>
    <%- include('partials/header');%>
    <main><%- include('partials/productDetail', {producto: producto}); %></main>

    <%- include('partials/footer'); %>
  </body>
</html>
