<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head');-%>

<body>

  <%- include('partials/header');-%>

    <main>
        <form class="form-login" action="" method="get" class="form">
            <p class="text-login">Iniciar sesion</p>
            <div class="login-container">
                <p>CORREO ELECTRONICO</p>
                <input type="email" name="email" class="campo-login" required>
                <p>CONTRASEÑA</p>
                <input type="password" name="password" class="campo-login" required>  
            </div>
           
            <a href="/registro" class="crear-cuenta">Crear cuenta</a>
            <br>
            <button class="enviar_login" type="submit">ENVIAR</button>
            <a href="#" class="recupera-contra">¿Olvido su contraseña?</a>
            <br>
            
        </form>

    </main>
    <%- include('partials/footer');-%>
</body>
</html>