<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head');-%>

<body>

  <%- include('partials/header');-%>

    <main>
      

        <form class="form-login" action="/users/login" method="POST" class="form">

    
          <% if(typeof errors !== 'undefined') { %>
            <ul style="color: red;">
              <% for(let i=0; i<errors.length; i++) { %>
                <li style="list-style: none;">
                  <%=errors[i].msg%>
                </li>
                <% } %>
            </ul>
            <% } %>
         
            <section class="errores">
              <ul>
              </ul>
            </section>

            <p class="text-login">Iniciar sesion</p>
            <div class="login-container">
                <label>CORREO ELECTRONICO: </label> <br>
                <input type="email" name="email" class="campo-login" id="emailDelUsuario" >
                <label>CONTRASEÑA: </label> <br>
                <input type="password" name="password" class="campo-login" id="passwordDelUsuario" >  
            </div>
           
            <a href="/registro" class="crear-cuenta">Crear cuenta</a>
            <br>
            <label for="recordame">Recordar sesión: </label>
            <input type="checkbox" name="recordame" id="recordame"><br>
            <button class="enviar_login" type="submit">Iniciar sesion</button>
            <br>
            
        </form>

    </main>
    <script src="/js/validacionLoginUsuario.js"></script>
    <%- include('partials/footer');-%>
</body>
</html>