<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head');-%>
  </head>
  <body>
    <%- include('partials/header');-%>
    <h1 class="preguntas-encabezado textBold">PREGUNTAS FRECUENTES</h1>
    <div class="preguntas">
      <p class="preguntas-titulo textBold">¿Cómo realizar un pedido?</p>
      <ol class="preguntas-lista">
        <li>Elegí tus productos y hacé click en el carrito de compras</li>
        <li>Seleccioná cantidad, talle y color.</li>
        <li>Añadí las prendas a la bolsa de compra.</li>
        <li>Para finalizar, seleccioná FINALIZAR COMPRA</li>
        <li>
          Completá tus datos personales, dirección, método de envío y forma de
          pago.
        </li>
        <li>
          Una vez completados los pasos, un asesor de DigitalClothes se va a
          contactar vía WhatsApp , para procesar tu pedido.
        </li>
      </ol>
      <p class="preguntas-titulo textBold">Métodos de Pago</p>
      <ul>
        <li>Efectivo / Transferencia (Sin Recargo)</li>
        <li>Débito / Mercado Crédito - 11,5% de Recargo</li>
        <li>Crédito - 16.5% de Recargo</li>
      </ul>
      <p class="preguntas-titulo textBold">Envíos</p>
      <ul>
        <li>
          ENVÍOS A TODO EL PAÍS Hacemos envíos por Correo Argentino y Buspack.
          Podes usar también tu transporte de referencia acordandolo con tu
          asesora.
        </li>
      </ul>
      <p class="preguntas-titulo textBold">
        ¿Cuánto demoran en el armado del pedido?
      </p>
      <ul>
        <li>
          Una vez confirmado el pago, se procede con el armado del pedido. Se
          demora hasta un máximo de 48 hs hábiles.
        </li>
      </ul>
      <p class="preguntas-titulo textBold">Políticas de cambio</p>
      <ul>
        <li>
          Nuestras tiendas son mayoristas por lo tanto no realizamos cambios ni
          devoluciones de prendas.</li>
          <li> Excepcionalmente hacemos cambios en todas las
            prendas de jeans por talle y camperas (puffer, parkas y símil cuero).</li>
          <li>El cambio se efectúa mediante envío a cargo del cliente tanto para que
            podamos recibirlo como para enviarlo nuevamente.</li>
         <li>Se aceptan reclamospor fallas de la prenda sea por defectos de fabricación oerróneamente despachada.</li> 
         <li>Debe realizar el reclamo el día que recibe el pedido.</li>  
         <li>La prenda debe estar en el mismo estado en la que fue entregada con su etiqueta.</li>
        </li>
      </ul>
    </div>

    <%- include('partials/footer');-%>
  </body>
</html>
