<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head');-%>

  <body>
    <%- include('partials/header');-%>

    <main>
      <form
        class="form"
        action="/users/registro"
        method="POST"
        enctype="multipart/form-data"
      >

      <% if(typeof errors !== 'undefined') { %>
        <ul style="color: red;">
          <% for(let i=0; i<errors.length; i++) { %>
            <li style="list-style: none;">
              <%=errors[i].msg%>
            </li>
            <% } %>
        </ul>
        <% } %>

        <p class="text-register">Crear cuenta</p>
        <div class="register-container">
          <div class="nom-completo">
            <div class="nom">
              <p>NOMBRE</p>
              <input type="text" name="nombre" class="nom-campo" required />
            </div>
            <div class="ape">
              <p>APELLIDO</p>
              <input type="text" name="apellido" class="nom-campo" required />
            </div>
          </div>
          <p>CORREO ELECTRONICO</p>
          <input type="email" name="email" class="campo-registro" required />
          <p>DIRECCION</p>
          <input type="text" name="direccion" class="campo-registro" required />
          <div class="nom-completo">
            <div class="nom">
              <p>CIUDAD</p>
              <input type="text" name="ciudad" class="nom-campo" required />
            </div>
            <div class="ape">
              <p>COD. POSTAL</p>
              <input
                type="text"
                name="codigoPostal"
                class="nom-campo"
                required
              />
            </div>
          </div>
          <label for="login">CATEGORIA</label>
          <select class="espacio-completar"   name="login" id="colorDelProducto">
            <option value="1">Usuario normal</option>
            <option value="2">Administrador</option>
          </select>
          <label for="imagen">FOTO DE PERFIL</label>
          <input
            class="campo-registro"
            type="file"
            name="imagen"
            id="imagenDelUsuario"
          />
          <p>CONTRASEÑA</p>
          <input
            type="password"
            name="password"
            class="campo-registro"
            required
          />
        </div>
        <br />
        <button class="button-register" type="submit">ENVIAR</button>
        <a href="/login" class="recupera-contra">Ya tengo una cuenta</a>
        <br />
      </form>
    </main>

    <%- include('partials/footer');-%>
  </body>
</html>
