</section>
<h1 class="ofer">Ofertas</h1>
<section class="container">
  <article class="product">

    <a href="/productDtail"><img src="/images/ropa1.jpg" alt=""></a>
    <div class="product-number" > 
      <p class="price">$230.000</p>
      <p class="discount">20% off</p>
    </div>
    <h4 class="description">Producto</h4>
  </article>

  <article class="product">
    <img src="/images/ropa2.jpg" alt="">
    
    <div class="product-number">
      <p class="price">$230.000</p>
      <p class="discount">20% off</p>
    </div>
    <h4 class="description">Producto</h4>
  </article>

  <article class="product">
    <img src="/images/ropa3.jpg" alt="">
    <div class="product-number">
      <p class="price">$230.000</p>
      <p class="discount">20% off</p>
    </div>
    <h4 class="description">Producto</h4>
  </article>
</section>